.comment{
    display:flex;
    gap:1rem;
}

.commentContainer{
    width:100%;
}

.commentContent{
    background:var(--gray-600);
    width:100%;
    padding:1rem;

    border-radius:5px;
}
.commentHeader > header button{
    background:transparent;
    border:none;
    color:var(--gray-400);
}

.commentHeader > header button:hover{
    color:red;
}

.commentHeader > header{
    display:flex;
    justify-content:space-between;

    margin-bottom:1.5rem;
}



.commentInfo{
    display:flex;
    flex-direction:column;
}

.commentInfo strong{
    font-size:0.875rem;
    line-height:1.6;
    color:var(--gray-100);
}

.commentInfo span{
    font-size:0.75rem;
}

.commentText p{
    font-size:0.875rem;
    color:var(--gray-300)
}

.commentLikes{
    display:flex;
    align-items:center;
    gap:0.5rem;
    margin: 1rem 0 1.5rem 0;

    font-size:0.875rem;
    color:var(--gray-400);
}

.commentLikes:hover{
    color:var(--green-300);
    cursor:pointer;
}