.post{
    background:var(--gray-800);

    border-radius:5px;
    padding:2.5rem;
}
.post + .post{
    margin-top:2rem;
}

.post > header{
    display:flex;
    justify-content:space-between;
    align-items:center

}

.post .profile{
    display:flex;
    gap:1rem;
}

.post time{
    font-size:0.875rem;
    color:var(--gray-300);
}


.post .profileInfo{
    display:flex;
    flex-direction:column;
    line-height:1.6;
}

.profileInfo > strong{
    font-size:1rem;
    font-weight:bold;
    color:var(--gray-100);
}

.profileInfo > span{
    font-size:0.875rem;
    color:var(--gray-100);
    font-weight:400;
}

.post .content{
    margin:1.5rem 0;
}

.post .content p{
    line-height:1.5rem;
    font-size:1rem;
    margin-top:1rem;
    color:var(--gray-300);
}

.post .content a{
    font-size:1rem;
    color:var(--green-500);
    font-weight:bold;
}

.post .content a:hover{
    color:var(--green-300);
}

.post form{
    display:flex;
    flex-direction:column;
}

.post > footer{
    display:flex;
    flex-direction:column;

    border-top: 1px solid var(--gray-600);
    padding:1rem 0;
}

.post > footer strong{
    color:green;
    font-size:1rem;
    color:var(--gray-300);
    margin-top:1rem;
}

.post footer textarea{
    margin:1rem 0;
    height:6rem;
    padding:1rem;
    resize:none;

    border-radius:5px;
    background:var(--gray-900);
    color:var(--gray-300);
}

.btnPublicar button{
    display:flex;
    justify-content:center;
    align-items:center;

    max-width:108px;
    background:var(--green-500);
    color:var(--white);
    text-decoration:none;
    padding:1rem 1.5rem;
    border-radius:5px;
    border:none;

    transition: background-color 0.15s ease;

}


.btnPublicar button:not(:disabled):hover{
    background:var(--green-300);
    cursor:pointer;
}

.btnPublicar button:disabled{
    opacity:0.7;
    cursor:not-allowed;
}

.btnPublicar{
    visibility:hidden;
    max-height:0;

}

.post footer:focus-within .btnPublicar{
    visibility:visible;
    max-height:none;
}