.container{
    max-width:70rem;
    background:;
    height:400px;
    margin: 2rem auto;
    padding: 0 1rem;
    align-items:flex-start;
    
    display:grid;
    grid-template-columns: 256px 1fr;
    gap:2rem;

}

@media (max-width:786px){
    .container{
        grid-template-columns: 1fr;
    }
}

